@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== LOGO (GIRO VERTICAL) ===== */
.logo {
  display: inline-block;
  animation: spinY 10s linear infinite;
  transform-style: preserve-3d;
}

@keyframes spinY {
  0%   { transform: rotateY(0deg); }
  85%  { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

/* ===== BODY ===== */
body {
  height: 100vh;
  background: linear-gradient(135deg, #0a1a2f, #000000);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  color: #eaeaea;
}

/* ===== CONTAINER ===== */
.login-container {
  text-align: center;
  perspective: 800px;
}

/* ===== TÍTULO ===== */
.login-container h1 {
  color: #4ae901;
  margin-bottom: 24px;
  font-size: 1.4rem;
}

/* ===== CAIXA LOGIN ===== */
.login-box {
  background: rgba(255, 255, 255, 0.05);
  padding: 24px;
  border-radius: 12px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.login-box input {
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #0f172a;
  color: #eaeaea;
  font-family: inherit;
  font-size: 0.6rem;
}

.login-box input::placeholder {
  color: #94a3b8;
}

.register-text {
  font-size: 0.55rem;
  color: #94a3b8;
  text-align: center;
}

.register-text a {
  color: #4ae901;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}
.login-box button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #4ae901;
  color: #000;
  font-family: inherit;
  width: 60%;
  font-size: 0.9rem;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  margin: 0 auto;
  display: block;
}
.login-box input {
  padding: 12px;
  border-radius: 6px;
  border: 2px solid transparent;
  outline: none;
  background: #0f172a;
  color: #eaeaea;
  font-family: inherit;
  font-size: 0.6rem;
  transition: 
    border 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.2s ease;
}
.login-box input:hover {
  border: 2px solid #4ae901;
  box-shadow: 0 0 10px rgba(74, 233, 1, 0.35);
  transform: translateY(-2px);
}

.login-box input:focus {
  border: 2px solid #4ae901;
  box-shadow: 0 0 15px rgba(74, 233, 1, 0.6);
  transform: translateY(-2px);
}
.login-box input::placeholder {
  color: #94a3b8;
}
.top-logo {
  position: fixed;
  top: 16px;
  left: 16px;

  width: 140px;
  cursor: pointer;

  transition: transform 0.3s ease;
}

.top-logo:hover {
  transform: scale(1.1);
}
